* {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.618em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

header,
main,
footer {
    margin: 0 auto;
    max-width: 800px;
}

h1, h2 {
    color: #666;
}

h3 {
	color: #222;
}

h1 {
    font-size: 2.8rem;
}

h2 {
	font-size: 1.8rem;
}

section {
    margin: 1rem 0;
}

#reviewList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}

#reviewList a {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #eee;
    padding: 1rem;
    text-decoration: none;
    transition: 0.3s;
    position: relative;
    cursor: pointer;
}

#reviewList a img {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
    border: 1px solid #333;
    transition: 0.3s;
}

#reviewList a span {
    position: absolute;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 3px 3px 5px #000;
    transition: 0.3s;
    opacity: 0;
}

#reviewList a #goTo427 {
	top: 7.1rem;
}

#reviewList a .goTo480 {
	top: 7.6rem;
}

#reviewList a:hover {
    background: #ccc;
}

#reviewList a:hover img {
	opacity: 0.6;
}

#reviewList a:hover span {
	opacity: 1;
}

#reviewText {
	margin-top: 1rem;
}

.backTo {
    margin-top: 1.5rem;
    cursor: pointer;
}

.backTo a {
    text-decoration: none;
    font-weight: bold;
    color: #111;
    padding: 0.7rem 1rem;
    background: #eee; 
}

.backTo a:hover {
    background: #ccc;
}

#twoButtons {
    display: flex;   
}

#previous {
    margin-right: 1rem;
}

footer {
    margin-top: 2rem;
    margin-bottom: 1rem;
    background: #666;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}