<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>

    <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>

<body>

    <header>
        <h1>Travel Reviews</h1>
    </header>

    <main>
        <div>
            <h2>See Reviews organized by:</h2>
            <section id="reviewList">
                <div>
                    <a href="/show-countries">
                        <h3>Country</h3>
                        <img src="/images/country.jpg">
                        <span class="goTo480">Go to Reviews</span>
                    </a>
                </div>
                <div>
                    <a href="/show-years">
                        <h3>Year Visited</h3>
                        <img src="/images/calendar640.jpg">
                        <span class="goTo480">Go to Reviews</span>
                    </a>
                </div>
                <div>
                    <a href="/show-cities">
                        <h3>City</h3>
                        <img src="/images/london640.jpg">
                        <span class="goTo480">Go to Reviews</span>
                    </a>
                </div>
            </section>
        </div>
    </main>
    <footer>
        &copy; 2018 Steve Vander Stouw
    </footer>
</body>

</html>